<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Minhas conquistas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container pt-4">
    <div class="d-flex align-items-center mb-5" *ngFor="let conquista of conquistas; let i=index">
      <div class="col-4" *ngIf="(i+1)/2==1">
        <img class="img-fluid" [src]="conquista.img">
      </div>
      <div class="col-8">
        <p class="mb-0">{{conquista.titulo}}</p>
        <p class="mb-0 text-descricao">+{{conquista.moedas}} moedas</p>
        <p class="mb-1 text-descricao">{{conquista.descricao}}</p>
      </div>
      <div class="col-4" *ngIf="!((i+1)/2==1)">
        <img class="img-fluid" [src]="conquista.img">
      </div>
    </div>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="trophy"></ion-icon>
        <ion-label>Conquistas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="" routerLink="/perfil/inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="" routerLink="/perfil/minha-carteira" >
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Carteira</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>