<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Meus Pontos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container pt-4">
		<div class="text-center">
			<h2 class="text-primary">Meu saldo</h2>
			<div class="d-flex align-items-center justify-content-center">
				<h3 class="mr-2 mb-0">255</h3>
				<img src="assets/icon/moeda.svg" width="30px">
			</div>
		</div>
		<ion-card class="mt-4">
			<ion-list>
				<ion-item *ngFor="let desafio of desafioCumpridos">
					<ion-note slot="start"><h5 class="text-primary mb-0">+{{desafio.moedas}}</h5></ion-note>
					<ion-label>{{desafio.titulo}}</ion-label>
				</ion-item>
			</ion-list>
		</ion-card>
		<ion-button class="mt-3" expand="block" color="primary" routerLink="/parceiros">ONDE GASTAR MEUS PONTOS?</ion-button>
	</div>
</ion-content>