<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Minha Goiânia
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-tabs>
		<!--<ion-tab tab="home">Home Content</ion-tab>-->
		<!--<ion-tab tab="settings">Settings Content</ion-tab>-->
		<!--<ion-tab tab="settings">Settings Content</ion-tab>-->

		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="" routerLink="/perfil/conquistas">
				<ion-icon name="trophy"></ion-icon>
				<ion-label>Conquistas</ion-label>
			</ion-tab-button>

			<ion-tab-button>
				<ion-icon name="home"></ion-icon>
				<ion-label>Início</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="" routerLink="/perfil/minha-carteira">
				<ion-icon name="star"></ion-icon>
				<ion-label>Pontos</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>

