<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button text="Voltar" [icon]="buttonIcon">
			</ion-back-button>
		</ion-buttons>
		<ion-title>
			Desafios
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="pt-5">
	<ion-card class="mt-1" *ngFor="let desafio of desafios">
		<ion-item>
			<ion-avatar slot="start">
				<img [src]="desafio.img">
			</ion-avatar>
			<ion-label>
				<h2>{{desafio.titulo}}</h2>
				<div class="form-inline">
					<div class="col-6 pl-0">
						<div class="form-inline">
							<img src="assets/icon/moeda.svg" style="width:15px; margin-right: 3px">
							<p>+{{desafio.moeda}} pontos</p>
						</div>
						<div class="form-inline">
							<img src="assets/icon/tempo.svg" style="width:15px; margin-right: 3px">
							<p>Há {{desafio.diasAtivo}} dias</p>
						</div>
					</div>
					<div class="col-6">
						<ion-button class="mt-3" color="primary" (click)="verMais()">Ver Mais</ion-button>
					</div>
				</div>
			</ion-label>
		</ion-item>
	</ion-card>
	<ion-button class="mt-3" color="primary" expand="block" routerLink="/desafio-create">Lançar novo desafio</ion-button>
	<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/desafio-create">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab> -->

</ion-content>