<div class="bodyContainer">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>
				Novo Desafio
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-card class="desafiosContainer">
		<ion-card-content>
			<ion-item>
				<ion-label>Categoria</ion-label>
				<ion-select placeholder="Selecione" [(ngModel)]="desafio.categoria">
					<ion-select-option value="Limpeza">Limpeza</ion-select-option>
					<ion-select-option value="Pintura">Pintura</ion-select-option>
					<ion-select-option value="Iluminação">Iluminação</ion-select-option>
					<ion-select-option value="Roçagem">Roçagem</ion-select-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Local</ion-label>
				<ion-input [(ngModel)]="desafio.local" name="local"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating">Descrição</ion-label>
				<ion-textarea [(ngModel)]="desafio.descricao"></ion-textarea>
			</ion-item>

			<ion-button color="primary" expand="full">Adicionar foto</ion-button>

			<ion-button color="primary" expand="full" (click)="save()">Salvar</ion-button>
		</ion-card-content>
	</ion-card>
</div>
