<ion-content>
    <div class="login-bg ion-text-center">
        <img src="assets/icon/icone-logo.svg" width="80px">
        <p class="text-white font-weight-bold mt-3">AJUDE SUA COMUNIDADE, JUNTE PONTOS, TROQUE EM DESCONTOS E
            BENEFÍCIOS.</p>
        <ion-card color="light">
            <ion-card-header>
                <ion-card-title class="font-weight-bold text-primary">Login</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item color="light">
                    <ion-label position="floating">CPF</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item color="light" class="mt-3">
                    <ion-label position="floating">Senha</ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
                <ion-button class="mt-3" shape="round" expand="block" color="primary" (click)="login()">Continuar
                </ion-button>
                <ion-button class="mt-3" shape="round" expand="block" color="tertiary" (click)="cadastrarUsuario()">Novo
                    Usuario</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>