<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Minha Goiânia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container bg-light">
    <ion-button class="mt-3 font-weight-bold" expand="block" color="primary">ADOTAR UM PARQUE</ion-button>
    <div class="p-3 mt-5 btn bg-white btn-block">
      <span>Nível: <span class="text-primary">O Síndico da Praça </span> </span>
    </div>
    <div class="row mt-5">
      <div class="col-6 text-center">
        <p class="text-primary font-weight-bold mb-1">300</p>
        <p>Seus pontos</p>
      </div>
      <div class="col-6 text-center">
        <p class="text-primary font-weight-bold mb-1">5</p>
        <p>Suas Conquistas</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <ion-button class="font-weight-bold text-center" expand="full" color="primary">RESOLVER PROBLEMA</ion-button>
      </div>
      <div class="col-6 text-center">
        <ion-button class="font-weight-bold text-center" expand="full" color="primary">RELATAR PROBLEMA</ion-button>
      </div>
    </div>
  </div>
</ion-content>